/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ----------------------------  start ---------------------------- */

html {
    font-size: 62.5%;
}

body {
    font-size: clamp(1.6rem, 3.5714vw - 1.1429rem, 1.8rem);
    font-family: "Noto Sans SC", sans-serif;
    min-height: 100vh;
}

.hide {
    display: none !important ;
}

.width-hide {
    min-width: 0 !important ;
    width: 0px !important ;
    overflow: hidden !important ;
    margin: 0 !important;
}

.none-touch {
    pointer-events: none !important ;
}

.pos-relative {
    position: relative !important ;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 2px;
    height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(242, 242, 242);
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(238, 238, 238);
    border-radius: 10px;
}
/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
} */

.mainNotificationNode {
    padding: 10px 20px;
    box-shadow: -2px 2px 3px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 40px;
    z-index: 20;
    font-weight: 600;
    font-size: 1.8rem;
    right: 10%;
    color: white;
    background-color: rgba(128, 128, 128, 0.9);
    /* background-color: white; */
    transition: 0.4s;
    transform: translateX(-100vw);
}
.mainNotificationNode.red {
    background-color: rgba(248, 66, 66, 0.95);
}

.mainNotificationNode.show {
    transform: translateX(0);
}

/* ----------------------------  common ---------------------------- */

.main-wrapper {
    width: min(1400px, 98vw);
    margin: auto;
}

.project-bar,
.project-pinList,
.section-wrap,
.tools {
    display: flex;
    position: relative;
}

.project-bar,
.project-content,
.project-list {
    padding: 10px 12px;
    border-radius: 5px;
    margin: 15px 0;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.2);
}

.project-pinList,
.project-bar,
.tools {
    align-items: center;
    gap: 15px;
}
.tools {
    width: fit-content;
    padding: 5px 10px;
    border: 1px solid gainsboro;
    border-radius: 3px;
    margin-left: auto;
    justify-content: right;
}

.project-item,
.project-item.add,
.section-item,
.section-item.add,
.project-pinItem,
.contentItem.add,
.project-list-btn {
    cursor: pointer;
}

/* ----------------------------  each ---------------------------- */

.project-list-wrap {
    position: relative;
    z-index: 5;
}

.project-list {
    position: absolute;
    top: 30px;
    left: -15px;
    background: white;
    width: max-content;
    box-shadow: -1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    min-width: 250px;
    padding-bottom: 15px;
}

.project-item,
.section-item {
    position: relative;
}
.project-item.add {
    padding: 5px 0;
    display: flex;
    justify-content: center;
}

.getTempText {
    position: absolute;
    inset: 0 0 0 0;
    display: flex;
    z-index: 6;
    align-items: center;
    padding: 0 5px 0 3px;
    gap: 10px;
    height: 105%;
    background-color: white;
    box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}
.getTempText input {
    width: 80%;
    height: 70%;
    border-radius: 0;
    border: 0;
    font-size: 1.8rem;
    font-weight: 600;
}
.getTempText input:focus {
    outline: none;
}

.active {
    box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.tool {
    cursor: pointer;
}

/* real css */

.h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
}

.project-list-btn {
    font-size: 1.6rem;
    font-weight: 500;
    background-color: transparent;
    padding: 10px;
    /* margin-right: 10px; */
    border: none;
    border-radius: 5px;
    box-shadow: -1px 1px 2px 2px rgba(0, 0, 0, 0.05);
    transition: 0.4s;
}
.project-list-btn:hover {
    box-shadow: -1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.project-item.add {
    padding: 0 0 5px;
    border-bottom: 1px solid rgb(239, 239, 255);
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
    height: 30px;
}
.project-item.add::after,
.section-item.add::after {
    content: "";
    height: 25px;
    width: 25px;
    background-image: url(../Assets/Icons/file-circle-plus-solid.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.4;
}

.add,
.submit,
.close,
.edit,
.destroy,
.unpin,
.hide-section {
    display: block;

    height: 22px;
    width: 22px;
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    opacity: 0.4;
    flex-shrink: 0;
}
.unpin {
    height: 18px;
    width: 18px;
    transform: translateY(2px);
}

.add:hover,
.hide-section:hover,
.submit:hover,
.close:hover,
.edit:hover,
.destroy:hover,
.unpin:hover {
    /* box-shadow: -1px 1px 2px 2px rgba(0, 0, 0, 0.2); */
    opacity: 0.9;
}

.add::after,
.hide-section::after,
.hide-section::after,
.submit::after,
.close::after,
.edit::after,
.destroy::after,
.unpin::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    /* background-image: url(../Assets/Icons/add.svg); */
    background-repeat: no-repeat;
    background-size: contain;
}
.submit::after {
    background-image: url(../Assets/Icons/circle-check-regular.svg);
}
.close::after {
    background-image: url(../Assets/Icons/circle-xmark-regular.svg);
}
.edit::after {
    background-image: url(../Assets/Icons/ellipsis-solid.svg);
}
.destroy::after {
    background-image: url(../Assets/Icons/rectangle-xmark-solid.svg);
}
.unpin::after {
    background-image: url(../Assets/Icons/square-xmark-solid.svg);
}
.add::after {
    background-image: url(../Assets/Icons/file-circle-plus-solid.svg);
}
.add::after {
    background-image: url(../Assets/Icons/file-circle-plus-solid.svg);
}
.hide-section::after {
    background-image: url(../Assets/Icons/eye-slash-solid.svg);
}

/* project-bar */

.project-bar {
    gap: 30px;
}

.project-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 5px 10px;
}
.project-item:hover {
    box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.project-item .text {
    font-size: 1.8rem;
    font-weight: 600;
    opacity: 0.9;
    flex-grow: 1;
}

/* project-pin Item */
.project-pinList {
    flex-wrap: wrap;
    height: 60px;
    padding: 0 10px;
}
@media screen and (max-width: 775px) {
    .project-pinList {
        flex-wrap: nowrap;
        overflow: auto;
    }

    .section-list {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        gap: 30px;
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
        padding: 5px 10px 8px;
    }

    .section-item.head .getTempText {
        min-width: 200px;
    }

    .section-wrap {
        flex-direction: column;
    }
}

/* ------------------------------- */

.project-pinItem {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    padding: 5px 8px 10px;
    border-radius: 5px;
    font-size: 1.8rem;
    opacity: 0.9;
}

/* section-wrap */
.section-wrap {
    gap: 0px;
}
.show-section {
    display: block;
    margin: 10px auto 0;
}
/* section-list */

.section-list {
    min-width: 150px;
    background-color: white;
    margin-right: 20px;
}

.section-item.head {
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gainsboro;
    min-width: 0;
    height: 40px;
    flex-shrink: 0;
}

/* .section-list.hide-mode */

.section-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 5px 3px;
    min-width: 150px;
}

.section-item .text {
    display: block;
    flex-grow: 1;
    max-width: 200px;
    white-space: nowrap; /* Ngăn xuống dòng */
    /* overflow-y: hidden; Ẩn phần text bị tràn ra ngoài */
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: translateY(2px);
}

/* content-board */

.content-board {
    flex-grow: 1;
    padding: 5px;
}

.content-card {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gainsboro;
    margin-bottom: 20px;
    transition: 0.5s;
}
.content-card:hover {
    box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.content-card-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.card-name {
    padding: 3px 10px;
    height: 35px;
    flex-grow: 1;
    border-bottom: 1px solid gainsboro;
}

.card-btns {
    display: flex;
    align-items: center;
    height: 35px;
    gap: 15px;
    padding: 5px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
    justify-content: right;
}

/* ------------- type ------------- */

.destroy-red,
.edit-yellow {
    height: 22px;
    width: 22px;
    background: none;
    outline: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;
}
.destroy-red:hover,
.edit-yellow:hover {
    opacity: 1;
}

.destroy-red {
    background-color: rgb(251, 53, 53);
}
.edit-yellow {
    background-color: rgb(255, 237, 44);
}

/* QA */
.QA-row,
.tempToGetQA {
    display: flex;
    overflow: auto;
}

.QA-row:nth-child(even) {
    background-color: #f2f2f2;
}

.QA-Q,
.tempToGetQA-Q {
    padding: 5px 10px;
    width: 30%;
}

.QA-A {
    white-space: pre-line;
    line-height: 1.5;
}
.QA-A,
.tempToGetQA-A {
    padding: 5px 10px;
    flex-grow: 1;
}

.QA-btns,
.tempToGetQA-btns {
    padding: 5px 10px;
    display: flex;
    gap: 10px;
}

.tempToGetQA-Q {
    background-color: rgba(60, 255, 0, 0.2);
}
.tempToGetQA-A {
    background-color: rgba(255, 255, 0, 0.2);
}
.tempToGetQA-btns {
    background-color: rgba(250, 43, 43, 0.2);
}

.tempToGetQA-Q,
.tempToGetQA-A {
    min-height: 100px;
}

.tempToGetQA-Q:focus,
.tempToGetQA-A:focus {
    outline: none;
}

/*  */
.QA-add-new-row {
    /* height: 20px; */
    padding: 5px 10px;
    border: 1px rgba(128, 128, 128, 0.5);
    border-spacing: 300px;
    border-style: dashed;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
}
.QA-add-new-row::after {
    content: "";
    display: block;
    height: 25px;
    width: 25px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../assets/icons/file-circle-plus-solid.svg);
    opacity: 0.5;
}

.inputForContent {
    display: flex;
    align-items: center;
    gap: 10px;

    height: 35px;
    flex-grow: 1;
    border-bottom: 1px solid gainsboro;
}

.inputForContent input {
    border: 0;
    height: calc(100% - 2px);
    padding: 0 10px;
    box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.inputForContent input:focus {
    outline: none;
    box-shadow: -1px 1px 2px 0px rgba(187, 103, 67, 0.5);
}

/* 
const projectListBtn = document.querySelector(`.project-list-btn`);
const projectList = document.querySelector(`.project-list`);
const projectListWrap = document.querySelector(`.project-list-wrap`);
const projectPinBar = document.querySelector(`.project-pinList`);
const tools = document.querySelector(`.tools`);
const sectionBar = document.querySelector(`.section-list`);
const contentBoard = document.querySelector(`.content-board`);
*/

/* 

const currentActive = {
    pinID: ``,
    sectionID: ``,
    pinList: [],
};


dataQuery(testingList, [
    {
        key: `name`,
        value: `yewu2`,
        objPath: [`page`],
    },
    {
        key: `name`,
        value: `page-2.2`,
        objPath: [`content`],
    },
]);


*/
