/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ----------------------------  start ---------------------------- */

body {
    font-family: "Noto Sans SC", sans-serif;
    min-height: 100vh;
}

.hide {
    display: none !important ;
}

/* ----------------------------  common ---------------------------- */

.main-wrapper {
    width: min(1300px, 97vw);
    margin: auto;
}

.project-bar,
.project-pinList,
.section-wrap,
.tools {
    display: flex;
}

.project-bar,
.project-content,
.tools,
.project-list {
    padding: 10px 15px;
    border-radius: 5px;
    margin: 15px 0;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

.project-pinList,
.project-bar,
.tools {
    align-items: center;
    gap: 15px;
}
.tools {
    justify-content: right;
}

.section-item,
.section-item-add {
    padding: 5px 5px 8px;
}

.section-content {
    padding: 5px;
}

.project-item,
.project-item-add,
.section-item,
.section-item-add,
.project-pinItem {
    cursor: pointer;
}

/* ----------------------------  each ---------------------------- */

.project-list-wrap {
    position: relative;
}

.project-list {
    position: absolute;
    top: 20px;
    left: -15px;
    background: white;
    width: max-content;
}

.project-item,
.section-item {
    position: relative;
}

.getTempText {
    position: absolute;
    inset: 0 0 0 0;
    display: flex;
}
.getTempText input {
    width: 80%;
}

.active {
    background-color: red;
}

/* 
//  projectListWrap =   (`.project-list-wrap`);
//  projectListBtn =   (`.project-list-btn`);
//  projectList =   (`.project-list`);

//  tools =   (`.tools`);

//  projectPinList =   (`.project-pinList`);

//  sectionList =   (`.section-list`);

//  sectionContent =   (`.section-content`); 
*/

/* 

const currentActive = {
    pinID: ``,
    sectionID: ``,
    pinList: [],
};


// dataQuery(testingList, [
//     {
//         key: `id`,
//         value: `2`,
//         objPath: [`page`],
//     },
//     {
//         key: `name`,
//         value: `page-2.2`,
//         objPath: [`content`],
//     },
// ]);
*/
