/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ----------------------------  start ---------------------------- */

html {
    font-size: 62.5%;
}

body {
    font-size: clamp(1.6rem, 3.5714vw - 1.1429rem, 2.2rem);
    font-family: "Noto Sans SC", sans-serif;
    min-height: 100vh;
}

.hide {
    display: none !important ;
}

.none-touch {
    pointer-events: none !important ;
}

/* ----------------------------  common ---------------------------- */

.main-wrapper {
    width: min(1300px, 97vw);
    margin: auto;
}

.project-bar,
.project-pinList,
.section-wrap,
.tools {
    display: flex;
}

.project-bar,
.project-content,
.tools,
.project-list {
    padding: 10px 15px;
    border-radius: 5px;
    margin: 15px 0;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

.project-pinList,
.project-bar,
.tools {
    align-items: center;
    gap: 15px;
}
.tools {
    justify-content: right;
}

.section-item,
.section-item.add {
    padding: 5px 5px 8px;
}

.content-board {
    padding: 5px;
}

.project-item,
.project-item.add,
.section-item,
.section-item.add,
.project-pinItem,
.contentItem.add,
.project-list-btn {
    cursor: pointer;
}

/* ----------------------------  each ---------------------------- */

.project-list-wrap {
    position: relative;
    z-index: 5;
}

.project-list {
    position: absolute;
    top: 30px;
    left: -15px;
    background: white;
    width: max-content;
}

.project-item,
.section-item {
    position: relative;
}
.project-item.add,
.section-item.add {
    padding: 5px 0;
    display: flex;
    justify-content: center;
}

.getTempText {
    position: absolute;
    inset: 0 0 0 0;
    display: flex;
    z-index: 6;
}
.getTempText input {
    width: 80%;
}

.active {
    background-color: red;
}

.tool {
    cursor: pointer;
}

/* real css */

.h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
}

.project-list-btn {
    font-size: 1.6rem;
    font-weight: 500;
    background-color: transparent;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: -1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}
.project-list {
    box-shadow: -1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    min-width: 250px;
}

.project-item.add {
    padding: 0 0 5px;
    border-bottom: 1px solid rgb(239, 239, 255);
    margin-bottom: 10px;
    width: 100%;
}
/* .project-item.add::after {
    content: "";
    height: 25px;
    width: 25px;
    background-image: url(../Assets/Icons/add.svg);
    background-repeat: no-repeat;
    background-size: contain;
} */

.submit,
.close,
.edit,
.destroy,
.add {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.project-item {
    display: flex;
    align-items: center;
}

/* 
const projectListBtn = document.querySelector(`.project-list-btn`);
const projectList = document.querySelector(`.project-list`);
const projectListWrap = document.querySelector(`.project-list-wrap`);
const projectPinBar = document.querySelector(`.project-pinList`);
const tools = document.querySelector(`.tools`);
const sectionBar = document.querySelector(`.section-list`);
const sectionContent = document.querySelector(`.content-board`);
*/

/* 

const currentActive = {
    pinID: ``,
    sectionID: ``,
    pinList: [],
};


dataQuery(testingList, [
    {
        key: `name`,
        value: `yewu2`,
        objPath: [`page`],
    },
    {
        key: `name`,
        value: `page-2.2`,
        objPath: [`content`],
    },
]);


*/
