/* QA */
.QA-row,
.tempToGetQA {
    display: flex;
    overflow: auto;
}

.QA-row:nth-child(even) {
    background-color: #f2f2f2;
}

.QA-Q,
.tempToGetQA-Q {
    padding: 5px 10px;
    width: 25%;
}

.QA-A {
    white-space: pre-line;
    line-height: 1.5;
}
.QA-A,
.tempToGetQA-A {
    padding: 5px 10px;
    flex-grow: 1;
}

.QA-btns,
.tempToGetQA-btns {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.QA-btns {
    flex-direction: row;
}

.tempToGetQA-Q {
    background-color: rgba(60, 255, 0, 0.2);
}
.tempToGetQA-A {
    background-color: rgba(255, 255, 0, 0.2);
}
.tempToGetQA-btns {
    background-color: rgba(250, 43, 43, 0.2);
}

.tempToGetQA-Q,
.tempToGetQA-A {
    min-height: 100px;
}

.tempToGetQA-Q:focus,
.tempToGetQA-A:focus {
    outline: none;
}

/*  */
.QA-add-new-row {
    /* height: 20px; */
    padding: 5px 10px;
    border: 1px rgba(128, 128, 128, 0.5);
    border-spacing: 300px;
    border-style: dashed;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
}
.QA-add-new-row::after {
    content: "";
    display: block;
    height: 25px;
    width: 25px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../assets/icons/file-circle-plus-solid.svg);
    opacity: 0.5;
}

.inputForContent {
    display: flex;
    align-items: center;
    gap: 10px;

    height: 35px;
    flex-grow: 1;
    border-bottom: 1px solid gainsboro;
}

.inputForContent input {
    border: 0;
    height: calc(100% - 2px);
    padding: 0 10px;
    box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.inputForContent input:focus {
    outline: none;
    box-shadow: -1px 1px 2px 0px rgba(187, 103, 67, 0.5);
}
