.toDo-row {
    padding: 10px 0 20px;
    border: 1px solid rgba(128, 128, 128, 0.1);
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin-bottom: 10px;
}

/* .toDo-row:nth-child(even) {
    background-color: #ffdfdf;
} */

.toDo-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 5px;
    /* border-bottom: 1px dashed rgba(59, 59, 59, 0.4); */
    /* margin-bottom: 10px; */
}

.toDo-due {
    display: flex;
    gap: 5px;
    vertical-align: bottom;
    cursor: pointer;
}

.toDo-due-reset {
    color: rgb(32, 32, 32);
    font-weight: 600;
    font-size: 1.4rem;
}

.toDo-due-time,
.toDo-due-date,
.toDo-due-reset {
    height: 30px;
    padding: 5px;
    font-style: inherit;
    font-family: inherit;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
}
.toDo-due-time:focus,
.toDo-due-date:focus {
    /* outline: none; */
    box-shadow: -2px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.toDo-btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.toDo-QA {
    display: flex;
    gap: 10px;
    padding: 7px 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(177, 177, 177);
}

.toDo-Q {
    width: 20%;
}
.toDo-A {
    flex-grow: 1;
}

.toDo-add-new-row {
    /* height: 20px; */
    padding: 5px 10px;
    border: 1px dashed rgba(128, 128, 128, 0.5);
    border-spacing: 300px;

    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
}
.toDo-add-new-row::after {
    content: "";
    display: block;
    height: 25px;
    width: 25px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../assets/icons/file-circle-plus-solid.svg);
    opacity: 0.5;
}

.tempToGetToDo {
    display: flex;
}
.tempToGetToDo-Q {
    width: 20%;
    background-color: rgba(60, 255, 0, 0.2);
}
.tempToGetToDo-A {
    flex-grow: 1;
    background-color: rgba(255, 255, 0, 0.2);
}

.tempToGetToDo-btns {
    padding: 3px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: rgba(250, 43, 43, 0.2);
}

