.loading-animation {
    position: fixed;
    inset: 0 0 0 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
    0% {
        box-shadow:
            20px 0 #000,
            -20px 0 #0002;
        background: #000;
    }
    33% {
        box-shadow:
            20px 0 #000,
            -20px 0 #0002;
        background: #0002;
    }
    66% {
        box-shadow:
            20px 0 #0002,
            -20px 0 #000;
        background: #0002;
    }
    100% {
        box-shadow:
            20px 0 #0002,
            -20px 0 #000;
        background: #000;
    }
}

.getDb {
    position: fixed;
    inset: 0 0 0 0;
    z-index: 90;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 198, 198);
}

.getDb-row {
    margin-bottom: 15px;
}

.getDb-label {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.getDb-input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.getDb-input:focus {
    outline: none;
    box-shadow: -2px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.getDb-btn {
    display: block;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: auto;
    background-color: #000;
    color: white;
}
.getDb-btn:hover {
    opacity: 0.8;
    box-shadow: -2px 1px 2px 1px rgba(0, 0, 0, 0.2);
}
