.loading-animation {
    position: fixed;
    inset: 0 0 0 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
    0% {
        box-shadow:
            20px 0 #000,
            -20px 0 #0002;
        background: #000;
    }
    33% {
        box-shadow:
            20px 0 #000,
            -20px 0 #0002;
        background: #0002;
    }
    66% {
        box-shadow:
            20px 0 #0002,
            -20px 0 #000;
        background: #0002;
    }
    100% {
        box-shadow:
            20px 0 #0002,
            -20px 0 #000;
        background: #000;
    }
}

.getDb {
    position: fixed;
    inset: 0 0 0 0;
    z-index: 90;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 198, 198);
}

.getDb-head {
    margin: 0 auto 30px;
    font-weight: 600;
    font-size: 4.4rem;
    font-style: italic;
    color: white;
}

.getDb-body {
    width: 80%;
    margin: auto;
}

.getDb-row {
    margin-bottom: 15px;
}

.getDb-label {
    padding-left: 5px;
    opacity: 0.8;
    font-size: 1.3rem;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 5px;
}

.getDb-input {
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.getDb-input:focus {
    outline: none;
    box-shadow: -2px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.getDb-btn {
    display: block;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: auto;
    background-color: #000;
    color: white;
}
.getDb-btn:hover {
    opacity: 0.8;
    box-shadow: -2px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

/* reminder */

.reminder {
    position: fixed;
    inset: 0 0 0 0;
    z-index: 90;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.reminder-box {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    max-width: 97%;
    min-width: 300px;
}

.reminder-header {
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.reminder-row {
    padding: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    color: rgba(84, 84, 84, 0.787);
    line-height: 1.5;
    border-left: 1px solid rgb(152, 191, 238);
    background-color: rgba(152, 191, 238, 0.1);
    margin-bottom: 15px;
}

.reminder-row.alarm {
    border-left: 1px solid rgb(238, 152, 152);
    background-color: rgba(238, 152, 152, 0.572);
    color: white;
    box-shadow: -2px 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.reminder-time {
    color: black;
    font-size: 1.6rem;
}
.reminder-row.alarm .reminder-time {
    color: white;
    font-size: 1.8rem;
}

.reminder-btn {
    background: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(250, 43, 43, 0.5);
    color: rgb(249, 249, 249);
    font-weight: 600;
    font-size: 1.6rem;

    display: block;
    margin-left: auto;
    margin-top: 10px;
}
